$background: #1b1c1e;
$background-text: #01658f;
// $background-contrast: #cac4a8;
$background-contrast: #fdf3dc;
$background-nav: rgba(6, 13, 20, 0.89);
// $text: #fff1cf;
$text: #fdf3dc;
$text-dark: rgb(0, 43, 61);
$text-hover: rgb(0, 43, 61);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
  box-sizing: content-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  color: $text;
  background: $background;
  font-family: 'Montserrat', Arial;
}

a {
  color: $text;
  text-decoration: none;
}

section {
  width: 100%;
  min-height: 100vh;
  padding: 40px 20px;
  box-sizing: border-box;
}

h1, h2 {
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

h1 {
  font-size: 32px;
  margin: 0;
}

h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

ul {
  padding: 0;
  list-style-type: none;
}

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;

  ul {
    display: flex;
    justify-content: space-around;
    margin: 25px auto 21px;
    width: 100%;
  }

  a {
    position: relative;
    padding: 6px 0;
    user-select: none;

    &::before, &::after {
      content: '';
      position: absolute;
      border-top: 1px solid $text;
      transition: 0.2s ease-in all;
      width: 0;
      height: 1px;
    }

    &::before {
      top: 0;
      right: 0;
    }

    &::after {
      left: 0;
      bottom: 0;
    }
  }

  a.active::before, a.active::after, a:hover::before, a:hover::after {
    width: 100%;
  }

  &__background {
    background: $background-nav;
    z-index: -1;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.button {
  border: 1px solid $text;
  padding: 8px 16px;
  display: inline-block;
  transition: all 0.15s ease-in-out;
  border-radius: 2px;
  user-select: none;
  text-decoration: none !important;

  &:hover {
    background: $text;
    color: $background-text;
  }
}

.email {
  position: relative;
  padding: 10px 20px 10px 51px;
  margin-top: 18px;

  .icon-wrapper {
    position: absolute;
    left: 14px;
    top: 7px;
    width: 24px;
    height: 24px;
  }

  .icon {
    width: 100%;
    height: 100%;
  }

  path {
    stroke-dasharray: 1520;
    stroke-dashoffset: 0;
    stroke-width: 10 !important;
    stroke: $text !important
  }

  &:hover {
    path {
      stroke: $text-dark !important
    }
  }
}

div[data-scroll-content] {
  will-change: transform;
}

.item {
  width: 50%;

  &__content {
    --overflow: 60px;
    width: 100%;
    will-change: opacity, transform;
    transform: translate3d(0, 0, 0);
    border-radius: 2px;
  }

  &--image {
    .item__wrapper {
      padding-top: 56.25%;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
    }
  
    .item__content {
      --overflow: 60px;
      height: calc(100% + (2 * var(--overflow)));
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      will-change: opacity, transform;
      transform: translate3d(0, 0, 0);
    }
  }
  
  &--header {
    width: 100%;
    text-align: center;
  }
}

#about {
  background: url('../images/bg2.svg');
  background-position: center center; 
  background-size: cover; 
  background-repeat: no-repeat; 
  padding: 0 0 67px;
  display: grid;
  justify-items: center;
  align-content: center;
  width: 100%;
  overflow: hidden;

  .wrapper {
    position: relative;
    width: 90%;
    display: grid;
    justify-items: center;
    align-content: center;
    z-index: 100;
    box-sizing: border-box;
    padding: 0 24px 18px;
    
    h1 {
      padding-bottom: 16px;
      font-size: 30px;
    }
    
    .avatar {
      position: relative;
      border-radius: 3px;
      width: 175px;
      height: 175px;
      background: $background-contrast;

      img, .img {
        display: block;
        border-radius: 2px;
        width: 100%;
        height: 100%;
        margin: -5%;
      }

      .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(/images/avatar.png);
        background-size: cover;
        
      }

      .img:nth-child(2) {
        background-color: #01658f;
        background-blend-mode: hard-light;
      }
    }

    .hello {
      font-size: 22px;
      padding: 18px 0 12px;
    }
    
    .message {
      font-size: 18px;
      width: 100%;
      text-align: center;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: calc(100% - 140px);
      top: 140px;
      z-index: -1;
      background: $background-text;
      border-radius: 2px;
    }
  }
}

#experience {
  position: relative;
  
  .experience-box {
    margin: 30px 0;
    background: $background-text;

    .img {
      padding-bottom: 57%;
      height: 0;
      order: 2;
      width: 100%;
      position: relative;
      margin: 0 12px 22px 0;

      img {
        position: absolute;
        border-radius: 2px;
        width: 100%;
        height: 100%;
      }

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 12px;
        left: 12px;
        background: $background-contrast;
        border-radius: 2px;
      }
    }

    &.item {
      background: none;
      width: 100%;

      .item__content {
        display: flex;
        background: $background-text;
        padding: 16px 20px;
        display: flex;
        height: auto;
        width: calc(100% - 40px);
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }

  .experience-title {
    flex: 1 0 100%;
  }

  .experience-title h3 {
    margin: 5px 0;
  }

  .experience-title h5 {
    margin-top: 0;
    color: #ffffff9c;
    font-weight: 300;
  }

  .experience-description {
    position: relative;
    flex: 1 0 40%;
    order: 3;
    padding: 16px 16px 36px 0;

    span {
      display: block;
      padding-bottom: 16px;
    }

    ul {
      padding-bottom: 16px;
      margin: 0;
    }
  }
}

#projects {
  padding: 40px 0 0;

  h2 {
    padding: 0 20px;
  }

  a {
    text-decoration: underline;
  }

  .item:first-child .item__content {
    --overflow: 0px;
  }

  .project {
    position: relative;
    padding-bottom: 60px;
    margin-bottom: 60px;

    .item:first-child {
      position: absolute;
      top: 0;
      left: 0;
      width: 90%;
    }

    .item:nth-child(2) {
      position: relative;
      width: 90%;
      padding-top: 35%;
      left: 10%;

      .item__content {
        width: 90%;
        height: auto;
        min-height: 200px;
        background: $background-text;
  
        h3 {
          font-size: 28px;
          padding: 20px 20px 16px;
          margin: 0 0 10px;
        }
  
        p {
          padding: 0 20px 16px;
          font-size: 16px;
          margin: 0;
        }
  
        .button {
          margin: 6px 20px 24px;
        }
      }
    }
  }
}

.helion {
  .item:nth-child(1) .item__content {
    background: url('../images/screen0.png') center center no-repeat;
    background-size: cover;
  }
}

.gamebase {
  .item:nth-child(1) .item__content {
    background: url('../images/screen1.png') center center no-repeat;
    background-size: cover;
  }
}

.flickr-search {
  margin-bottom: 0;

  .item:nth-child(1) .item__content {
    background: url('../images/screen2.png') center center no-repeat;
    background-size: cover;
  }
}

.flappy-bird {
  .item:nth-child(1) .item__content {
    background: url('../images/screen3.png') center center no-repeat;
    background-size: cover;
  }
}

.vr-controller {
  .item:nth-child(1) .item__content {
    background: url('images/screen4.png') center center no-repeat;
    background-size: cover;
  }
}

#footer {
  min-height: 50vh;
  padding: 0;
  background: url('../images/bg.svg') #002b3d;
  background-position: center center; 
  background-size: cover; 
  background-repeat: no-repeat; 

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-bottom: 69px;
  padding-right: 34px;

  > div {
    margin-top: 80px;
    text-align: center;
  }

  span {
    font-family: monospace;
  }
}

@media only screen and (min-width: 700px) {
  #experience .experience-box {
    .img {
      padding: 0;
      width: 350px;
      height: 200px;
      order: 3;
    }

    .experience-description {
      padding-top: 0;
      order: 2;
      flex-basis: 10%;
    }
  }

  .gamebase {
    .item:nth-child(1) .item__content {
      background: url('../images/screen1.gif') center center no-repeat;
      background-size: cover;
    }
  }
  
  .flickr-search {
    margin-bottom: 0;
  
    .item:nth-child(1) .item__content {
      background: url('../images/screen2.gif') center center no-repeat;
      background-size: cover;
    }
  }
  
  .flappy-bird {
    .item:nth-child(1) .item__content {
      background: url('../images/screen3.gif') center center no-repeat;
      background-size: cover;
    }
  }
  
  .vr-controller {
    .item:nth-child(1) .item__content {
      background: url('../images/screen4.gif') center center no-repeat;
      background-size: cover;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .nav ul {
    margin: 21px auto 18px;
    width: 80%;

    a {
      padding: 8px 20px;
    }
  }

  section {
    padding: 40px;
  }

  #about .wrapper {
    width: 60%;
  }

  #projects {
    .project {
      .item:nth-child(1) {
        width: 50%;
        position: relative;
      }
  
      .item:nth-child(2) {
        width: 55%;
        position: absolute;
        padding: 0;
        left: 45%;
        top: 0;
      }
    }
  }
}